<!DOCTYPE html>
<html>
<head>
	<title>Inicio de Sesi칩n</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
	<style type="text/css">
		body {
			background-color: #FCD116; /*amarillo*/
		}
		h1 {
			color: #003893; /*azul oscuro*/
		}
		form {
			background-color: #FFFFFF; /*blanco*/
			padding: 20px;
			border-radius: 5px;
			width: 300px;
			margin: auto;
			margin-top: 50px;
		}
		input[type="text"], input[type="password"] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			box-sizing: border-box;
			border: 2px solid #003893; /*azul oscuro*/
			border-radius: 4px;
		}
		input[type="submit"] {
			background-color: #CE1126; /*rojo*/
			color: white;
			padding: 12px 20px;
			margin-top: 10px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}
		input[type="submit"]:hover {
			background-color: #9E0B15; /*rojo oscuro*/
		}
	</style>
</head>
<body>
    <div class="container"></div>
	<h1>Iniciar Sesi칩n</h1>
	<form id="login-form" method="post" action="/api/v1/session/login">
		<label for="email">Email:</label><br>
		<input type="text" id="email" name="email"><br>
		<label for="password">Contrase침a:</label><br>
		<input type="password" id="password" name="password"><br>
		<input type="submit" value="Iniciar Sesi칩n">
	</form>
	 <div  >
    <a href="/api/v1/session/github"><button type="submit">Entrar con GITHUB</button></a>
  	</div>
    <p>Don't have an account? <a href="/api/v1/views/register">Register here</a>.</p>
	</div>
	<section><h1>{{error}}<h1></section>
</body>
</html>
