<div>
  <h1>Perfil de usuario</h1>

  <p>{{this.lastname}}</p>
  <p>{{this.email}}</p>

  <div>
    <form action="/api/session/logout" method="get">
      <br />
      <button type="submit">logout</button>
    </form>
  </div>

</div>
<form action="/api/v1/session/logout" method="get">
  <input type="submit" value="logout">
</form>